@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@400;500&family=Rubik+Distressed&display=swap');

#header {
    background-image: url(images/the-ball-stadion-football-the-pitch-46798.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;

}

h1 {
    font-family: 'Rubik Distressed', cursive;
    /* font-family: 'Luckiest Guy', cursive; */
}